p
    a(href=`${books ? '/books/new' : '/loans/new'}`, class='button') Create New #{books ? 'Book' : 'Loan'}
p
    | Filters
    a(href=`${books ? '/books' : '/loans'}`)  All
    |  |
    a(href=`${books ? '/books/overdue' : '/loans/overdue'}`)  Overdue
    |  |
    a(href=`${books ? '/books/checked' : '/loans/checked'}`)  Checked Out