table
    thead
        if table === 'book'
            tr
                th Title
                |
                th Author
                |
                th Genre
                |
                th Year Released
        else if table === 'loan'
            tr
                th Book
                |
                th Patron
                |
                th Loaned on
                |
                th Return by
                |
                th Returned on
                |
                th Action
        else if table === 'patron'
            tr
                th Name
                |
                th Address
                |
                th Email
                |
                th Library ID
                |
                th Zip

    |
    tbody
        if table === 'book'
            each book in books
                tr
                    td
                        a(href=`/books/${book.id}`)= book.title
                    |
                    td= book.author
                    |
                    td= book.genre
                    |
                    td= book.first_published
                |
        else if table === 'loan'
            each loan in loans
                tr
                    td
                        a(href='#') Emma
                    |
                    td
                        a(href='#') Dave McFarland
                    |
                    td 2015-12-10
                    |
                    td 2020-10-20
                    |
                    td
                    |
                    td
                        a.button(href='#') Return Book
        else if table === 'patron'
            each patron in patrons
                tr
                    td
                        a(href='#')= patron.first_name + ' ' + patron.last_name
                    |
                    td 1234 NE 20st St
                    |
                    td andrew.chalkley@teamtreehouse.com
                    |
                    td MCL1001
                    |
                    td 90210